{{ define "main" }}

  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}


    {{ partial "prompt.html" . }}ls -tl

    <table id="ls">

    {{ range $paginator.Pages }}
    <tr>
      <td>rw-r--r--</td>
      <td>{{ .Params.author }}</td>
      {{ $sizeInBytes := len .Content }}
      <td>{{ div $sizeInBytes 1024 }}K</td>
      <td>{{ .Date.Format "January 2 2006" }}</td>
      <td><a href="{{ .Permalink }}">{{ replace .Title " " "_" | markdownify }}.md</a></td>
    </tr>


    {{ end }}
    </table>

    {{ partial "prompt.html" . }}<span id="input"></span>
    {{ partial "pagination.html" . }}
  </div>

{{ end }}
