{{ define "main" }}
<div class="post">

  {{ partial "prompt.html" . }}ls -l {{ replace .Title " " "_" | markdownify }}.md

  <table id="ls">
    <tr>
      <td>rw-r--r--</td>
      <td>{{ .Params.author }}</td>
      {{ $sizeInBytes := len .Content }}
      <td>{{ div $sizeInBytes 1024 }}K</td>
      <td>{{ .Date.Format "January 2 2006" }}</td>
      <td><a href="{{ .Permalink }}">{{ replace .Title " " "_" | markdownify }}.md</a></td>
    </tr>
  </table>

  {{ partial "prompt.html" . }}cat {{ replace .Title " " "_" | markdownify }}.md

  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}

  {{ if .Params.hero }}
    <img src="{{ .Params.hero | absURL }}" alt="{{ .Title | plainify | default " " }}" />
  {{ end }}

  {{ if .Params.Toc }}
    <div class="table-of-contents">
      <h2>
        {{ if .Params.TocTitle }}
          {{ .Params.TocTitle }}
        {{ else if $.Site.Params.TocTitle }}
          {{ $.Site.Params.TocTitle }}
        {{ else }}
          Table of Contents
        {{ end }}
      </h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>

  {{ if eq .Type $.Site.Params.contentTypeName }}
  {{ partial "posts_pagination.html" . }}
  {{ end }}

  {{ partial "comments.html" . }}
</div>
{{ end }}
