.ls{
  border:  none;
  margin-top:  0px;
}

.ls td{
    border: none;
    padding:  0px;
}

.ls a{
    text-decoration: none;
    color: #34E2E2;
}

.ls a:visited{
    color: #1D96A5;
}

.ls a:hover,.ls a:focus{
    color: #a8d400;
}

@media (max-width: 684px){
    /* hide optional columns in listing */
    .ls td:nth-child(-n+3){
        display: none;
    }
}

.post {
    margin: 20px 0px !important;
}

.posts, div.post{
    margin-top:  0px;
    padding-top:  0px;
}

/* facts tables do not have a header */
#facts + table thead {
    display: none;
}

.post-title{
    padding-top:  25px;
}

/* markdown style headers */
h1:before{
    content: '#';
}

h2:before{
    content: '## ';
}

h3:before{
    content: '### ';
}

.container {
    max-width: 120ch !important;
    font-size: max(
        1rem,
        1.2vmin
    ); /* Scale the font-size relative to the minimum screen dimension */
    position: relative;
    height: 100%;
    padding: 0px !important;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;

}

.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.terminal{
    padding: 2rem;
    text-shadow: 3px 0 1px rgba(0, 30, 255, 0.5),
        -3px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
}


.footer{
    position:absolute;
    bottom:0;
    width:100%;
    padding: 0px;
    font-size: 1em;
}


.social-icon-container{
   float: right;
}

::selection {
    background: var(--color);
    color: var(--background);
    text-shadow: none;
}

#input {
    position: relative;
    caret-color: transparent;
}
#input:after {
    content: "▮";
    animation: cursor 1s infinite;
    animation-timing-function: step-end;
    margin-left: 1px;
    color: var(--accent);
}


@keyframes cursor {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
